.forgot-body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  background-color: #e0719e;
}

.forgot-title {
  margin-top: 0px;
}

.forgot-main {
  display: flex;
  height: 84vh;
  width: 74vw;
  background-image: url("/public/forgot-password.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-color: white;
  background-size: 43vw;
  border-radius: 50px;
  box-shadow: 0 0 50px rgba(1, 1, 1, 0.3);
}

.forgot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6vw;
}

.forgot-button {
  background-color: #a93159;
  color: white;
  width: 400px;
  height: 45px;
  border-radius: 2em;
  border: 1px solid #bcbec0;
  font-size: 1em;
  border: none;
  margin: 1em 0;
}

.forgot-button:hover {
  cursor: pointer;
}
