.register-body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  background-color: #f6c645;
}

.register-title {
  margin-top: 0px;
}

.register-main {
  display: flex;
  height: 84vh;
  width: 74vw;
  background-image: url("/public/register_illustration.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-color: white;
  background-size: 43vw;
  border-radius: 50px;
  box-shadow: 0 0 50px rgba(1, 1, 1, 0.3);
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6vw;
}

input[type="email"],
input[type="password"],
input[type="username"],
input[type="text"] {
  width: 400px;
  height: 45px;
  border: 1px solid #bcbec0;
  border-radius: 2em;
  padding-left: 1.2em;
  font-size: 1em;
  margin-bottom: 2em;
}

.create-account {
  background-color: #7c5ef1;
  color: white;
  width: 400px;
  height: 45px;
  border-radius: 2em;
  border: 1px solid #bcbec0;
  font-size: 1em;
  border: none;
  margin: 1em 0;
}

.create-account:hover {
  cursor: pointer;
}

.eye {
  cursor: pointer;
  position: absolute;
  margin-left: -2%;
  margin-top: 0.5%;
}
